@@ -1,50 +0,0 @@
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Respostas de Atividade</title>
    
    <!-- Arquivo de Style - Página de Resposta -->
    <link rel="stylesheet" href="../../resources/styles/questionPage.css">
</head>
<body>
    <div class="content">
        <h1>Respostas da Atividade</h1>

        <h2>Questão 01:</h2>
        <p></p>
        <ul>
            <li><strong></li>
            <li><strong></li>
            <li><strong></li>
            <li><strong></li>
            <li><strong></li>
            <li><strong></li>
        </ul>

        <h2>Questão 02:</p>
        <p></p>
        <ul>
            <li><strong></li>
            <li><strong></li>
            <li><strong></li>
            <li><strong></li>
        </ul>

        <h2>Questão 03:</h2>
        <p></p>
        <ul>
            <li><strong></strong></li>
            <li><strong></strong></li>
            <li><strong></strong></li>
            <li><strong></strong></li>
            <li><strong></strong></li>
            <li><strong></strong></li>
            <li><strong></strong></li>
            <li><strong></strong></li>
        </ul>
    </div>
</body>
</html>