@import url('../fonts/web/inter.css');

/* Botão flutuante para atividade */

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    background-color: #4c77af;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.floating-button:hover {
    background-color: #6545a0;
}
