@import url('../../resources/fonts/web/inter.css');

/* Página de Respostas */
body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}
h1 {
    text-align: center;
    color: #333;
}
.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #444;
}
ul {
    line-height: 1.6;
}