* {
    margin-top: 5px;
}
  
body {
background-color: #262626;
color: #fff;
}

p {
line-height: 1.25;
}

a {
color: #0886b8;
}

mark {
padding: 2px;
border-radius: 5px;
}

code {
background: #464646;
padding: 2px;
border-radius: 5px;
}

.bt1, .tm1 {
font-weight: bold;
}